/* navigation */

li{
    display:inline-block;
    vertical-align:top;
    margin:0 40px;
  }
  
  .logo{
    text-align:center;
    width:10%;
    padding:1%;
    display:block;
    margin-left: auto;
    margin-right: auto;
  
    }
  
  nav{
    flex-direction:row;
    background-color:lightblue;
    width:100%;
    padding:1%;
    text-align:center;
  }
  
  /* Content styles */
  
  ul{
    width:50%;
    margin-left:auto;
    margin-right:auto;
  }
  
  .herolmg {
    height:600px;
    padding:25px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .content{
    width:500px;
    margin:0 auto;
  }
  
  
  
  .button{
    background-color:lightseagreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align:center;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  









body {
    font-family: Arial, Helvetica, sans-serif;
  }


/* My Skills */
* {
    box-sizing: border-box;
  }
  

  /* Float four columns side by side */
  .column1 {
    float: left;
    width: 33.33%;
    padding:0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row1 {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column1 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    background-color: #f1f1f1;
  }
    

  








/* MyWork */

* {
    box-sizing: boarder-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  .button {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }



  /* Footer Styles */

footer{
    background-color:lightblue;
    display:inline-block;
    align-items:center;
    width:100%;
    padding:1%;
  }
  
  
  .footer a{
   display:inline-block;
   vertical-align:top;
   padding:3px;
  }
  
  

  


